.mc__carousel {
    margin: 24px 0;
    position: relative;
    padding-bottom: 48px;

    .swiper {
        overflow: visible;

        &-container {
            overflow: hidden;
        }

        &-pagination,
        &-button-prev,
        &-button-next {
            bottom: -24px;
            top: unset;
            transform: translateY(50%);
        }
    }
}