body {
    background-color: #FFF2B2 !important;
}

.mc__carousel {
    margin: 24px 0;
    position: relative;
    padding-bottom: 48px;

    .swiper {
        overflow: visible;

        &-container {
            overflow: hidden;
        }

        &-pagination,
        &-button-prev,
        &-button-next {
            bottom: -24px;
            top: unset;
            transform: translateY(50%);
        }
    }
}

//  custom

.mc__carousel--12 {
    .mc__carousel {
        @media screen and (width >=600px) {
            padding-bottom: 0;
        }

        .swiper {
            border-radius: 16px;
        }
    }

    .mc__swiper__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        aspect-ratio: 2 / 3;
        overflow: hidden;
        color: #3B3F5C;
        font-family: sans-serif;
        background-color: white;
        border-radius: 16px;
        text-decoration: none;

        &__img {
            aspect-ratio: 1;
            overflow: hidden;
            display: flex;
            height: 100%;
        }

        &__asset {
            object-fit: cover;
            object-position: center;
            min-height: 100%;
            min-width: 100%;
            width: auto;
            height: auto;
        }

        &__content {
            padding: clamp(.5rem, 1.5vw, 1rem);

            &.hidden {
                display: none;
            }

            &>*:first-child {
                margin-top: 0;
            }
        }

        &__title {
            font-size: clamp(1.25rem, 5vw, 1.75rem);
            font-weight: bold;
            margin: 0;
        }

        &__subtitle {
            font-size: clamp(.9rem, 3.25vw, 1rem);
            margin: 8px 0 0;
            font-weight: lighter;
        }

        &__btn {
            margin: 16px 0 0;
            padding: clamp(0.5rem, 0.5vw, 1rem);
            border-radius: 32px;
            color: white;
            text-align: center;
            display: block;
            font-size: clamp(.75rem, 2vw, 1rem);
            font-weight: bold;
            cursor: pointer;
            background-color: #FC5C66;
            transition: all .25s ease-in-out;

            @media screen and (width > 560px) {
                font-weight: normal;
            }

            &:hover {
                background-color: red;
            }
        }
    }

    .page-content a.mc__swiper__card {
        text-decoration: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: #3B3F5C;
        width: 24px;
        height: 24px;
        bottom: -16px;
        top: unset;
        transform: translate(0px, 100%);

        @media screen and (width >=600px) {
            bottom: unset;
            width: 48px;
            height: 100%;
            top: 0;
            margin: 0;
        }

        &::after {
            font-size: 24px;
        }
    }

    @media screen and (width >=600px) {
        .swiper-button-prev {
            transform: translateX(-100%);
            left: 0;
        }

        .swiper-button-next {
            transform: translateX(100%);
            right: 0;
        }
    }

    .swiper-pagination {
        height: 24px;
        bottom: -16px;
        top: unset;
        transform: translate(0px, 100%);
        color: #3B3F5C;

        @media screen and (width >=600px) {
            display: none;
        }
    }
}